In [1]:
import pandas as pd
import yfinance as yf

In [45]:
df_yahoo = yf.download(
    'AAPL',
    start='2000-01-01',
    end='2010-12-31',
    progress=False
    )

In [46]:
df_yahoo.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2000-01-03  3.745536  4.017857  3.631696  3.997768   3.454628  133949200
2000-01-04  3.866071  3.950893  3.613839  3.660714   3.163368  128094400
2000-01-05  3.705357  3.948661  3.678571  3.714286   3.209661  194580400
2000-01-06  3.790179  3.821429  3.392857  3.392857   2.931901  191993200
2000-01-07  3.446429  3.607143  3.410714  3.553571   3.070781  115183600

In [ ]:
df_yahoo.shape

In [47]:
df_yahoo.shape

(2766, 6)